version: "3.9"

services:
  app:
    build: .
    container_name: spring_app
    ports:
      - "8888:8080"
    env_file:
      - .env
    depends_on:
      - mysql

  mysql:
    image: mysql:8
    container_name: mysql_db
    env_file:
      - .env
    ports:
      - "3333:3306"
